---
import BasicLayout from "../../layout/BasicLayout.astro";
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
export const getStaticPaths = (async({paginate}) => {
    const posts = await getCollection("posts")
    const postsSorted = posts.sort((a, b) => a.data.publishDate - b.data.publishDate).reverse()
    return paginate(postsSorted, {pageSize: 3})
}) satisfies GetStaticPaths;
const {page} = Astro.props
---
<BasicLayout title="Blogg">
    <div class=" bg-white p-4 flex flex-col flex-wrap gap-4 h-screen">
        <h1 class="text-4xl text-center p-4">Blogg</h1>
        {page?.data.map((post)=>(
            <article class="flex flex-row items-center mx-auto max-w-4xl">
                <div class="mx-auto">
                    <div class="flex flex-col">
                        <h1 transition:animate="fade" transition:name={`title-${post?.slug}`}><a href={`/posts/${post?.slug}`} class="text-3xl hover:text-slate-700 text-right">Test</a></h1>
                        <div class="mx-auto line-clamp-3 leading-7 text-md">
                            {post.data.excerpt}
                        </div>
                    </div>
                </div>
            </article>
        ))}
        <nav class="p-4 flex flex-row items-center max-w-3xl mx-auto">
             {page.url.prev ? <a class="block text-black p-2 rounded-lg underline underline-offset-3" href={page.url.prev}>Previous page</a> : null}
            {page.url.next ? <a class="block text-black p-2 rounded-lg underline underline-offset-3" href={page.url.next}>Next page</a> : null} 
        </nav>
    </div>
</BasicLayout>