---
import type { GetStaticPaths } from "astro";
import BasicLayout from "../../layout/BasicLayout.astro"
import AuthorBook from "../../components/AuthorBook.astro"
import {getCollection} from "astro:content"
export const getStaticPaths = (async () => {
    const authors = await getCollection("authors")
    return authors.map((author)=>( {
        params: {slug: author.slug}, props: {author}
    }));
}) satisfies GetStaticPaths;
const {author} = Astro.props
const getBooks = await getCollection("books", ({data})=>{
    return data?.authorSlug.slug === author.slug
})
---
<BasicLayout title={author.data.name}>
    <main>
        <section class="w-full bg-white p-4 h-screen">
            <h5 class="text-4xl w-full text-center bg-white p-4">{author.data.name}</h5>
            <div class=" flex flex-col justify-center items-center gap-2 bg-white w-full">
                {getBooks.map((book)=>(<AuthorBook slug={book?.slug} title={book.data.title} image={book.data.image} author={book.data.author} pages={book.data.pages} excerpt={book.data.excerpt}></AuthorBook>))}
            </div> 
        </section>
    </main>
</BasicLayout>