---
import BasicLayout from "../layout/BasicLayout.astro";
import Search from "../components/Search.astro";
import { getCollection } from "astro:content";
import LibraryBook from "../components/LibraryBook.astro"
const books = await getCollection("books")
console.log(books)
---

<BasicLayout>
    <main class="">
        <section class="h-full w-full border-b-2 bg-white">
            <h1 class="text-5xl text-center">Bibliotek</h1>
            <div class="p-12 flex flex-col justify-center items-center gap-2 bg-white w-full">
                {books.map((book)=>(<LibraryBook title={book.data.title} image={book.data.image} author={book.data.author} pages={book.data.pages} excerpt={book.data.excerpt}></LibraryBook>))}
            </div>
            
        </section>
    </main>


</BasicLayout>