---
import type { GetStaticPaths } from "astro";
import BasicLayout from "../../layout/BasicLayout.astro";
import { getCollection, getEntry } from "astro:content";
export const getStaticPaths = (async () => {
    const books = await getCollection("books")
    return books.map((book)=>({
        params: {slug: book.slug}, props: {book} 
    }))
}) satisfies GetStaticPaths;
const {book} = Astro.props
const {Content} = await book.render()
---

<BasicLayout title={book.data.title}>
    <main>
            <article class=" mx-auto [&>p]:mb-2 flex md:flex-row flex-col py-4 bg-white p-4 h-screen md:justify-center">
            <img transition:name={`image-${book.slug}`} class="md:h-96" src={`${book.data.image}`} alt="">
                <div class="max-w-3xl">
                   <h1 transition:name={`title-${book?.slug}`} class="md:text-3xl text-3xl p-4 text-center"><a>{book.data.title}</a></h1>
                    <div class="md:px-4" transition:animate="slide">
                        <Content></Content>
                    </div>
                </div>
            </article>

    </main>
</BasicLayout>