---
import type { GetStaticPaths } from "astro";
import BasicLayout from "../../layout/BasicLayout.astro";
import { getCollection, getEntry } from "astro:content";
export const getStaticPaths = (async () => {
    const books = await getCollection("books")
    return books.map((book)=>({
        params: {slug: book.slug}, props: {book} 
    }))
}) satisfies GetStaticPaths;
const {book} = Astro.props

const {Content} = await book.render()
---

<BasicLayout title={book.data.title}>
    <main>
        <section class=" bg-white pb-4 flex flex-col w-100% flex-wrap">
            <article class="p-4 w- max-w-3xl mx-auto [&>p]:mb-2">
                <img transition:name={`image-${book.slug}`} class="mx-auto" src={`${book.data.image}`} alt="">
                <h1 transition:name={`title-${book.slug}`} class="md:text-3xl text-3xl mt-4"><a>{book.data.title}</a></h1>
                <Content></Content>
            </article>
        </section>
    </main>
</BasicLayout>