---
import type { GetStaticPaths } from "astro";
import BasicLayout from "../../layout/BasicLayout.astro";
import LibraryBook from "../../components/LibraryBook.astro";
import { getCollection } from "astro:content";
export const getStaticPaths = (async ({paginate}) => {
    const books = await getCollection("books")
    const booksSorted = books.sort((a,b) => a.data.publishDate - b.data.publishDate).reverse()
    return paginate(booksSorted, {pageSize: 4})
}) satisfies GetStaticPaths;
const {page} = Astro.props
---
<BasicLayout title="Bibliotek">
    <main> 
        <section class="h-screen w-full bg p-4 bg-white">
            <h1 transition:name="heading" class="text-4xl text-center p-4">Bibliotek</h1>
            <div class=" flex flex-col justify-center items-center gap-6  w-full">
                {page.data.map((book)=>(
                    <LibraryBook slug={book.slug} title={book.data.title} image={book.data.image} authorSlug={book.data.authorSlug} author={book.data.author}   pages={book.data.pages} excerpt={book.data.excerpt}></LibraryBook>
                    ))}
                <nav class="p-4 flex flex-row items-center max-w-3xl mx-auto">
                    {page.url.prev ? <a class="block text-black p-2 rounded-lg underline underline-offset-3" href={page.url.prev}>Previous page</a> : null}
                    {page.url.next ? <a class="block text-black p-2 rounded-lg underline underline-offset-3" href={page.url.next}>Next page</a> : null} 
                </nav>
            </div>
        </section>
    </main>
</BasicLayout>