---
//import { getEntry } from "astro:content";
const {title, excerpt, image, authorSlug, author, slug} = Astro.props
//const getAuthor = await getEntry("authors", authorSlug)
---


    <div class="flex md:flex-row flex-col gap-4 rounded-lg">
        <div class=md:w-48">
            <img transition:name={`image-${slug}`} class="bg-white w-full" src={image}/>
        </div>
        <div class="flex flex-col justify-center md:w-3/4 md:p-4">
            <h3 transition:name={`title-${slug}`} class="text-3xl">{title}</h3>
            <h5 class="text-sm text-slate-500 hover:underline"><a href={`/authors/${authorSlug.slug}`}>{author}</a></h5>
            <p class=" line-clamp-5">{excerpt}</p>
            <a href={`/library/${slug}`} class=" border-b-2 border-slate-400 p-1 w-fit hover:text-slate-600">Read more</a>
        </div>
    </div>	
